# https://editorconfig.org

# top-most EditorConfig file
root = true

# XML/HTML section
[*.{xml,html}]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# Kotlin section
# https://github.com/pinterest/ktlint#editorconfig
[*.{kt,kts}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

# Comma-separated list of rules to disable (Since 0.34.0)
# Note that rules in any ruleset other than the standard ruleset will need to be
# prefixed by the ruleset identifier.
disabled_rules = no-semi, no-wildcard-imports
