# .gitignore
# Project-specific gitignore file.  See gitignore(5) manual for more
# information.

# Gradle build output directory
build

# Gradle project-specific cache directory
.gradle

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
