# https://git-scm.com/docs/gitattributes

# Ensure all text files have line endings normalized
# i.e., set to LF in repository
* text=auto

# Set working directory line ending for Gradle wrapper scripts
gradlew text eol=lf
gradlew.bat text eol=crlf

# Treat JARs as binary
*.jar binary
