# https://git-scm.com/docs/gitignore

# Gradle build output directory
build

# Gradle project-specific cache directory
.gradle

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA directory
.idea

# macOS system file
.DS_Store
